NEXT_PUBLIC_BETTER_AUTH_URL="http://example-auth-service:5188"

PG_DATABASE_URL="postgresql://db_user:db_pass@db_host:5432/db_name"

NEXT_PUBLIC_TURNSTILE_SITE_KEY="0xExampleTurnstileSiteKey"
TURNSTILE_SECRET_KEY="0xExampleTurnstileSecretKey"

UPSTASH_REDIS_REST_URL="https://example-rest-url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="exampleUpstashRedisRestToken"
QSTASH_URL="https://qstash.example.com"
QSTASH_TOKEN="exampleQStashApiToken"
QSTASH_CURRENT_SIGNING_KEY="sig_exampleCurrentSigningKey"
QSTASH_NEXT_SIGNING_KEY="sig_exampleNextSigningKey"

NEXT_PUBLIC_ONESIGNAL_APP_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
NEXT_PUBLIC_ONESIGNAL_SAFARI_WEB_ID="web.onesignal.auto.xxxx-xxxx-xxxx-xxxxxxxxxxxx"
ONESIGNAL_API_KEY="os_example_onesignal_api_key"

# NEXT_PUBLIC_SITE_URL: Public site URL for client applications
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
